:root {
  --color-fondo: #212121;
  --color-principal: #4481eb;
  --color-secundario: #04befe;
  --color-boton: #00bfff;
  --color-boton-hover: #008fbf;
  --color-texto: #f5f5f5;
  --color-icono: #8a2be2;
  --color-icono-hover: #7129b5;
}

.navbar {
  background-color: var(--color-fondo) !important;
}
body,
li {
  font-family: "Poppins", sans-serif;
}

@media(max-width: 991px) {
    .sidebar {
        background-color: var(--color-fondo);
        backdrop-filter: blur(10px);
    }
}
