/* Variables */
:root {
  --color-fondo: #212121;
  --color-principal: #4481eb;
  --color-secundario: #04befe;
  --color-boton: #00bfff;
  --color-boton-hover: #008fbf;
  --color-texto: #f5f5f5;
  --color-icono: #8a2be2;
  --color-icono-hover: #7129b5;
}

/* Body and Inputs */
body,
input {
  font-family: "Poppins", sans-serif;
}

/* Container */
.container {
  position: relative;
  width: 100%;
  background-color: var(--color-fondo);
  min-height: 100vh;
  overflow: hidden;
}
/* Formulario */
.contenedorFormulario {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.registroInicio {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.7s ease-in-out;
  -webkit-transition: 1s 0.7s ease-in-out;
  -moz-transition: 1s 0.7s ease-in-out;
  -ms-transition: 1s 0.7s ease-in-out;
  -o-transition: 1s 0.7s ease-in-out;
}

/* Forms */
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2 0.7s;
  -webkit-transition: all 0.2 0.7s;
  -moz-transition: all 0.2 0.7s;
  -ms-transition: all 0.2 0.7s;
  -o-transition: all 0.2 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.formularioRegistro {
  opacity: 0;
  z-index: 1;
}
form.formInicioSesion {
z-index:  2;
}

/* Títulos y entradas */
.titulo {
  font-size: 2.2rem;
  color: var(--color-texto);
  margin-bottom: 10px;
}
.campoEntrada {
  max-width: 380px;
  width: 100%;
  background-color: #333;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.campoEntrada i {
  text-align: center;
  line-height: 55px;
  color: var(--color-icono);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  font-size: 1.1rem;
}
.campoEntrada input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--color-texto);
}
.campoEntrada input::placeholder {
  color: var(--color-texto);
  font-weight: 500;
}
.socialTexto {
  color: var(--color-texto);
  padding: 0.7rem 0;
  font-size: 1rem;
}
.contenedorIconos {
  display: flex;
  justify-content: center;
}
.iconos {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: var(--color-icono);
  border-radius: 50%;
  border: 1px solid var(--color-icono);
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}
.iconos:hover {
  color: var(--color-icono-hover);
  border-color: var(--color-icono-hover);
}

.btn {
  width: 150px;
  background-color: var(--color-boton);
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: var(--color-texto);
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.btn:hover {
  background-color: var(--color-boton-hover);
}

.contendorPaneles {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container::before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: linear-gradient(-45deg, var(--color-principal) 0%, var(--color-secundario) 100%);
  transition: 1.8s ease-in-out;
  -webkit-transition: 1.8s ease-in-out;
  -moz-transition: 1.8s ease-in-out;
  -ms-transition: 1.8s ease-in-out;
  -o-transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}
.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  -webkit-transition: transform 1.1s ease-in-out;
  -moz-transition: transform 1.1s ease-in-out;
  -ms-transition: transform 1.1s ease-in-out;
  -o-transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /*Chequear*/
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}
.panelIzquierdo {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}
.panelDerecho {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}
.panel .contenedor {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  -webkit-transition: transform 0.9s ease-in-out;
  -moz-transition: transform 0.9s ease-in-out;
  -ms-transition: transform 0.9s ease-in-out;
  -o-transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}
.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}
.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}
.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}
.panelDerecho .image,
.panelDerecho .contenedor {
  transform: translateX(800px);
  -webkit-transform: translateX(800px);
  -moz-transform: translateX(800px);
  -ms-transform: translateX(800px);
  -o-transform: translateX(800px);
}
.container.cambioDeModo::before {
  transform: translate(100%, -50%);
  -webkit-transform: translate(100%, -50%);
  -moz-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  -o-transform: translate(100%, -50%);
  right: 52%;
}
.container.cambioDeModo .panelIzquierdo .image,
.container.cambioDeModo .panelIzquierdo .contenedor {
  transform: translateX(-800px);
  -webkit-transform: translateX(-800px);
  -moz-transform: translateX(-800px);
  -ms-transform: translateX(-800px);
  -o-transform: translateX(-800px);
}
.container.cambioDeModo .registroInicio {
  left: 25%;
}
.container.registroInicio form.formularioRegistro {
  opacity: 1;
  z-index: 2;
}
.container.registroInicio form.formInicioSesion {
  opacity: 0;
  z-index: 1;
}
.container.cambioDeModo .panelDerecho .image,
.container.cambioDeModo .panelDerecho .contenedor {
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}
.container.cambioDeModo .panelIzquierdo {
  pointer-events: none;
}
.container.cambioDeModo .panelDerecho {
  pointer-events: all;
}

/* Responsivo */
@media (max-width: 768px) {
  .contenedorFormulario {
    position: relative;
  }
  .registroInicio {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }
  .panel {
    display: flex;
    justify-content: center;
  }
  .panelIzquierdo,
  .panelDerecho {
    padding: 0;
  }
  .formularioRegistro .campoEntrada,
  .formInicioSesion .campoEntrada {
    max-width: 300px;
  }
}
